# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / building
build/
dist/
*.egg-info/
.eggs/

# Virtual Environments
venv/
env/
.env
.venv/

# IDEs
.idea/
.vscode/

# Testing
.pytest_cache/
.coverage
htmlcov/

# MLflow
mlruns/
mlflow.db

# Project specific
pre_trained_defect_models/
